.weather-app {
    background: rgb(72,61,139);
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.weather-app__block {
    width: 560px;
    margin: 0 auto;
    box-shadow: 0px 4px 30px 2px rgb(0, 0, 0, 0.5);
    position: relative;
    top: 15%;
}

.container {
    display: flex;
    justify-content: center;
}

.weather-block__header {
    padding-bottom: 8px;
    width: 560px;
}

.header_text {
    color: #fff;
}

.container-days {
    width: 500px;
    margin: 0 auto;
}

.days_text {
    color: #000;
}

.weather-block__days {
    background: #fff;
    padding: 5px 0 0 0;
}

.weather-toggle {
    position: relative;
    top: 130px;
    left: 46%;
    width: 150px;
}

.weather-app__block-header {
    background: rgb(34,34,34);
}

@media screen and (min-width: 320px) {
    .weather-app__block {
        width: 300px;
    }

    .header-container {
        width: 270px;
    }

    .container-days {
        width: 270px;
    }

    .weather-toggle {
        left: 28%;
        top: 75px;
    }
}

@media screen and (min-width: 375px) {
    .weather-app__block {
        width: 330px;
    }

    .header-container {
        width: 300px;
    }


    .container-days {
        width: 300px;
    }

    .weather-toggle {
        left: 29%;
        top: 72px;
    }
}

@media screen and (min-width: 500px) {
    .weather-app__block {
        width: 370px;
    }

    .header-container {
        width: 335px;
    }

    .container-days {
        width: 332px;
    }

    .weather-toggle {
        left: 35%;
        top: 70px;
    }

}



@media screen and (min-width: 568px) {
    .weather-app__block {
        width: 500px;
    }

    .container-days {
        width: 460px;
    }

    .weather-toggle {
        left: 40%;
        top: 70px;
    }

    .header-container {
        width: 455px;
    }
}

@media screen and (min-width: 992px) {
    .weather-toggle {
        top: 90px;
        left: 46%;
    }

    .weather-app__block {
        width: 560px;
    }

    .header-container {
        width: 470px;
    }

    .container-days {
        width: 500px;
    }
}
