.list-items {
    padding: 0;
}

.list-items__item {
    list-style: none;
}

.list-items_item {
    padding-bottom: 10px;
}

@media screen and (max-width: 500px) {

    .list-items_item {
        padding-bottom: 2px;
    }

}

@media screen and (min-width: 992px) {
    .list-items__item {
        padding-bottom: 10px;
    }
}